<div class="row justify-content-center">
  <div class="form-group col-md-3">
    <select class="form-control" onChange="location = this.options[this.selectedIndex].value;">
      <option style="display: none">月份</option>
      <option value="/records/category/month_01">1月</option>
      <option value="/records/category/month_02">2月</option>
      <option value="/records/category/month_03">3月</option>
      <option value="/records/category/month_04">4月</option>
      <option value="/records/category/month_05">5月</option>
      <option value="/records/category/month_06">6月</option>
      <option value="/records/category/month_07">7月</option>
      <option value="/records/category/month_08">8月</option>
      <option value="/records/category/month_09">9月</option>
      <option value="/records/category/month_10">10月</option>
      <option value="/records/category/month_11">11月</option>
      <option value="/records/category/month_12">12月</option>
    </select>
  </div>
  <div class="form-group col-md-3">
    <select class="form-control" onChange="location = this.options[this.selectedIndex].value;">
      <option style="display: none">類別</option>
      <option value="/records/category/type_1" selected="true">家居物業</option>
      <option value="/records/category/type_2" selected="true">交通出行</option>
      <option value="/records/category/type_3" selected="true">休閒娛樂</option>
      <option value="/records/category/type_4" selected="true">餐飲食品</option>
      <option value="/records/category/type_5">其他</option>
    </select>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-4">
    <p class="text-secondary mb-1 pl-1">
      <strong>總金額：</strong>
    </p>
    <div class="text-center">
      <h1 class="text-danger display-4 font-weight-bold">{{{totalAmount}}}</h1>
    </div>
  </div>
</div>


<div class="row justify-content-center">
  <div class="col-9 mx-auto ">
    <table class="table table-striped">
      <tbody>
        {{#each records}}
        <tr>
          <th scope="row" style="vertical-align:middle; color: Dodgerblue;" class="pl-4">{{{this.category}}}</th>
          <td>
            <div>{{{this.name}}}</div>
            <div>{{{this.date}}} {{{this.merchant}}}</div>
          </td>
          <td class="text-right h4" style="vertical-align:middle;">$ {{{this.amount}}}</td>
          <td class="text-right" style="vertical-align:middle;">
            <a href="/records/{{{this.id}}}/edit" class="btn btn-outline-dark">修改<i class="fas fa-edit ml-1"></i></a>
            <form action="/records/{{{this.id}}}/delete" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-outline-dark">刪除<i class="fas fa-trash-alt ml-1"></i></button>
            </form>

          </td>
        </tr>

        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="text-center my-5">
  <a href="/records/new" class="btn btn-primary btn-lg">新增支出</a>
</div>